:root{
    overflow:hidden;
}

a {
  text-decoration: none;
}

body {
    background: linear-gradient(45deg, #fc575e 0, #90d5ec 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", "sans-serif";
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.index-container {
    width: 50%;
    height: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #080808;
    border-radius: 50px;
    padding: 60px 20px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15),
        0 15px 90px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    text-align: center;
    font-family: "Montserrat";
    font-weight: light;
    color: #ffff;
    font-size: 3rem;
}

.heading-2{
  text-align: center;
  font-family: "Montserrat";
  font-weight: light;
  color: #ffff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.abc .form-input{
  margin-right: 1rem;
}

.texttodo{
  display: flex;
  color: white;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  border: solid 2px #fa5a61;
  background-color: #fa5a61;
  margin-top: 1rem;
  margin-right: 2rem;
}

.btn{
    text-align: center;
    font-family: "Montserrat";
    font-weight: light;
    color: #ffff;
    font-size: 1.5rem;
}

.about-grid{
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: 190px 190px;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 100px;
  position: relative;
}

.about-card{
  background: linear-gradient(45deg, #fc575e 0, #90d5ec 100%);
  background-size: 300%;
  background-position: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.about-card:nth-child(1){
  margin-top: 60px;
  border-radius: 40px 40px 5px 40px;
}

.about-card:nth-child(2){
  margin-top: 60px;
  border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3){
  border-radius: 40px 5px 40px 40px;
}

.about-card:nth-child(4){
  border-radius: 5px 40px 40px 40px;
}

.icon{
  width: 60px;
}

.carte{
  width: 60px;
}

.about-card h3{
  color: #ffff;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.3px;
}

.about-card:hover{
  transform: scale(1.1);
  background-position: right;
}


.about-grid::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.07;
}


.auth{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
}
.btn{
  display: inline-block;
  padding: 0.9rem 1.75rem;
  border-radius: 17px;
  background: linear-gradient(45deg, #fc575e 0, #90d5ec 100%);
  background-size: 300%;
  background-position:left;
  color: #ffff;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  min-width: 125px;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
  text-transform: lowercase;
}

.btn:hover{
  background-position:right;
  color: #fa5a61;
  transform: scale(1.1);
}

.wrapper{
  border: solid 2px;
  border-radius: 50px;
  border-color: #fc575e ;
  padding: 20px;
  margin-top: 20px;
}

.blob{
  position: absolute;
  transition: 0.3s;
}

.home h1{
  position: absolute;
  top: 70px;
  left: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
  font-size: 2.7rem;
  z-index: 100;
  transition: 0.3s;
}

.home h1:hover{
  transform: scale(1.1);
}

.blob path{
  fill: url(#my-cool-gradient) #fa5a61;
}

#blob1{
  bottom: 150px;
  left: 200px;
  height: 250px;
  width: 250px;
  transform: rotate(210deg);
}

#blob1bis{
  bottom:-250px;
  left:-150px;
  height:400px;
  width: 400px;
  transform: rotate(45deg);
}

#blob2{
  top:25px;
  right: 185px;
  height: 300px;
  width: 300px;
}

#blob2bis{
  top: -290px;
  right: -150px;
}

#blob2bis path{
  fill: url(#my-cool-gradientreverse);
}

#blob2 path{
  fill: url(#my-cool-gradientreverse);
}

#blob3{
  top:-180px;
  left: -200px;
  height:400px;
  width:500px;
}

#blob4{
  bottom:-180px;
  right: -120px;
  height:400px;
  width:500px;
}

#blob3:hover{
  transform: scale(1.1);
}
#blob4:hover{
  transform: scale(1.1);
}


.form-input{
  display: inline-block;
  padding: 0.9rem 1.5rem;
  height: 2rem;
  background: white;
  border: 2px solid #fa5a61;
  margin-left: -0.1rem;
  border-radius: 17px;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(29, 130, 170);
  outline: none;
  transition: 0.3s;
}

.contact-form{
  margin-top: 20px;
  background-color: #ff8a8a;
  border-radius: 20px;
  padding: 3.5rem 3rem 3.5rem 3rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s background-color;
  width: 25rem;
  height: 60vh;
}

#special-form {
  height: 10vh;
}

.contact-form h3{
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 0.9;
  transition: 0.3s color;
  text-align: center;
}

.form-input::placeholder{
  color: #90d5ec;
}

.form-input:hover{
  filter: brightness(97%);
}

.form-input:valid,
.form-input:focus{
  filter: brightness(100%);
  background: #d3f4ff;
  border-color: #fa5a61;
}

textarea.form-input{
  resize: none;
  min-height: 170px;
}

.contact-form .form-input{
  margin-bottom: 1.5rem;
}

.text{
  color: white;
  text-align: center;
  padding: 1rem;
}

.colusrnf{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.missing h1{
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.cardban{
  margin-top: 2.5rem;
  background: linear-gradient(45deg, #fc575e 0, #90d5ec 100%);
  background-size: 300%;
  background-position: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px 20px 40px 40px;
}

.cardban h3{
  color: #ffff;
  padding: 1rem;
  padding-top: 0;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.3px;
}

.cardban svg{
  padding: 1rem;
  padding-bottom: 0;
}

.cardban:hover{
  transform: scale(1.1);
  background-position: right;
}

.bar{
  color: white;
  text-align: center;
  letter-spacing: -4px;
  padding-top: 1rem;
}

.textuser{
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.scrolldiv{
  width: 800px;
  margin-left: 2rem;
}

.scrolldiv form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scrolldiv::-webkit-scrollbar{
  width: 5px;
}

.scrolldiv::-webkit-scrollbar {
  width: 10px;
}

.scrolldiv::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrolldiv::-webkit-scrollbar-thumb {
  background: #fa5a61;
  border-radius: 10px;
}



